/* Пункт списка */
.ArticleEditCard {
  padding: 20px 35px;
}


.ArticleEditCard-Description > div > textarea{
  width: 100%;

}
.ArticleEditCard-Description {
  margin: 20px 0;
}
.ArticleEditCard-Prop {
  margin: 20px 0;
}


